<footer class="footer container-fluid mt-5 text-white" style="
    bottom: 0;
    left: 0;
    right: 0;
    height: 130px;
    padding: 15px;
    background-color: #2C3E50;
    text-align: justify;
    ">
    <div class="row">
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem commodi distinctio fugiat neque saepe sunt! Ab adipisci debitis maxime officia sequi! Assumenda dicta distinctio ea molestias, nobis omnis pariatur?
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem commodi distinctio fugiat neque saepe sunt! Ab adipisci debitis maxime officia sequi! Assumenda dicta distinctio ea molestias, nobis omnis pariatur?
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem commodi distinctio fugiat neque saepe sunt! Ab adipisci debitis maxime officia sequi! Assumenda dicta distinctio ea molestias, nobis omnis pariatur?
            </p>
        </div>
    </div>
</footer>