{% extends 'base.html' %}
{% block title %} {{ block.super }} {% endblock title %}

{% block pre-content %}
   {% include 'blog/message.html' %}
{% endblock pre-content %}
{% block content %}
{% for post in posts %}
    <div class="posts col-md-6">
        <div class="card text-center">
          <div class="card-header">
            <span style="float: left;">Posted by: {{ post.author }}</span> <small style="float: right;">{{ post.time }}</small>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View</a>
          </div>
        </div>
        <br>
    </div>
{% empty%}
<div class="container-fluid">
     <h5>
        No Posts Found on Query " {{ query }} "
    </h5>
</div>
{% endfor %}

{% endblock content %}

{% block post-content %}
    <div class="col">
    <nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ p.previous_page }}">&laquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" >&laquo;</a>
    </li>
    {% endif %}
    {% for p in page_range %}
    {% if posts.number == p %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ p }}">{{ p }}</a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" >&raquo;</a>
    </li>
    {% endif %}
    </ul>
</nav>
</div>
{% endblock post-content %}